.menu-categories {
    margin-left:  5%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.menu-categories h4 {
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    padding: 4% 0;
    color: black;
    background-color: #f04800;
    margin: 0 auto;
}

.menu-categories .nav-link {
    font-family: 'Bungee Inline', cursive;
    color: #f04800;
    border-bottom: 1px solid rgb(207, 207, 207) !important;
    padding-bottom: 7px !important;
}

.menu-categories .nav-link:hover {
    color: #ffc107;
}

.menu-categories .nav-link {
    float: left;
}

.menu-categories .next-icon {
    float: right;
}

.nav-top {
    padding-top: 9px !important;
}