.section-meilleures {
    border-top: 2px solid #f04800;
}

.section-meilleures .card{
    width: 370px;
    padding: 0;
    background-color: black;
    margin-bottom: 2px;
}

.section-meilleures .card:hover {
    box-shadow: 0 0 2px 2px #f04800;
    cursor: pointer;
}

.section-meilleures .card-img {
    width: 50;
    height: 100%;
    max-height: 150px;
    max-width: 100%;
}