* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
}

.checked {
    color: orange;
}

/* Triple menu */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    border: 2px solid #ffd369;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    background-color: #393e46;
    height: 100%;
}